<body>
  <div>
    <h1 class="absolute text-lg leading-7 font-semibold text text-[#F4F4F6FF] left-6 top-[17px]">Coin Monitor BRL</h1>
  </div>
  <hr class="absolute w-[1440px] h-0 border rotate-0 border-[#393D47FF] border-solid left-0 top-[38px]">
  <%= line_chart @chart_data %>
</body>